<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanghai">
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<uses-permission android:name="android.permission.READ_SMS"/>-->
    <!-- 导航权限-->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104950333" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
<!--android:value="3VkDKkstm986eYzSBsiouF2z" />-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yLMS3HhE0A31SKiCSaAK8a6k" />

        <!-- 首页-->
        <activity
            android:name=".activity.aty_home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <!-- 引导页面-->
        <activity
            android:name=".activity.aty_home.WelcomeAty"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <!-- 等待页-->
        <activity
            android:name=".activity.aty_home.WaitAty"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--登陆页-->
        <activity
            android:name=".activity.aty_home.Login"
            android:screenOrientation="portrait">

        </activity>
        <!-- 注册-->
        <activity
            android:name=".activity.aty_home.Register"
            android:screenOrientation="portrait">

        </activity>

        <!-- 照相测试页面-->
        <activity android:name=".CameraTest">

        </activity>
        <!-- 主页下页-->
        <activity android:name=".activity.aty_home.Activity_Parent" />
        <!-- 忘记密码页面-->
        <activity android:name=".activity.aty_home.ForgotPasswordAty">

        </activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 个人中心页面-->
        <activity android:name=".activity.aty_home_myinfo.myinfo_myinfo.MyInfo_Aty">

        </activity>
        <!-- 账户余额页面-->
        <activity android:name=".activity.aty_home_myinfo.Amount_Aty"></activity>
        <!-- 我的信息页面-->
        <activity android:name=".activity.aty_home_myinfo.myinfo_myinfo.MyInfoDetails_Aty"></activity>
        <!-- 增加用户信息页面-->
        <activity android:name=".activity.aty_home_myinfo.myinfo_myinfo.MyInfo_Details_Add"></activity>
        <!-- 用户信息页面中的订单中中心页面-->
        <activity android:name=".activity.aty_home_myinfo.OrderInfo_Aty"></activity>
    </application>

</manifest>

